<div class="row custom-header">
    <div class="col-12 d-flex justify-content-center">
        <h1>BÁO CÁO BÁN HÀNG LẺ</h1>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-3 d-sm-none">

    </div>
    <div class="col-lg-2 col-sm-4">
">
        <h5>Thời khoảng:</h5>
    </div>
    <div class="col-lg-7 col-sm-8">
        <h5>{{this.params.startDate}}->{{this.params.endDate}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 d-sm-none">

    </div>
    <div class="col-lg-2 col-sm-4">
        <h5>Cửa hàng - kho:</h5>
    </div>
    <div class="col-lg-7 col-sm-8">
        <h5>{{this.params.store_name}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 d-sm-none">

    </div>
    <div class="col-lg-2 col-sm-4">
        <h5>Ngành hàng:</h5>
    </div>
    <div class="col-lg-7 col-sm-8">
        <h5>{{this.params.industry_name}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 d-sm-none">

    </div>
    <div class="col-lg-2 col-sm-4">
        <h5>Nhóm hàng:</h5>
    </div>
    <div class="col-lg-7 col-sm-8">
        <h5>{{this.params.group_name}}</h5>
    </div>
</div>

{{#if this.parseResult}}
<div class="row mt-3 overflow-auto">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" rowspan="2" width="9%" class="text-center">Mã</th>
                <th scope="col" rowspan="2" width="14%" class="text-center">Tên</th>
                <th scope="col" rowspan="2" width="4%" class="text-center">ĐVT</th>
                <th scope="col" colspan="5" class="text-center">Bán hàng</th>
                <th scope="col" colspan="3" class="text-center">Trả hàng</th>
                <th scope="col" rowspan="2" width="9%" class="text-center">Thành tiền</th>
            </tr>
            <tr>
                <th scope="col" width="5%" class="text-center">Số lượng</th>
                <th scope="col" width="9%" class="text-center">Đơn giá</th>
                <th scope="col" width="9%" class="text-center">Thuế</th>
                <th scope="col" width="9%" class="text-center">Chiết khấu</th>
                <th scope="col" width="9%" class="text-center">Thành tiền</th>
                <th scope="col" width="5%" class="text-center">Số lượng</th>
                <th scope="col" width="9%" class="text-center">Thuế</th>
                <th scope="col" width="9%" class="text-center">Giá trị</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.parseResult.result}}
            <tr class="text-smd" scope="row">
                <td scope="col" width="10%" class="font-weight-bold text-left">Ngành:</td>
                <td scope="col" colspan="2" class="font-weight-bold text-left">{{NAME}}</td>
                <td scope="col" colspan="9" class="text-right font-weight-bold">{{format THANHTIEN}}</td>
            </tr>
            {{#each group}}
            <tr class="text-smd" scope="row">
                <td scope="col" class="text-center font-weight-bold">Nhóm:</td>
                <td scope="col" colspan="2" class="text-left font-weight-bold">{{ID}}&nbsp;{{NAME}}</td>
                <td scope="col" colspan="9" class="text-right font-weight-bold">{{format THANHTIEN}}</td>
            </tr>
            {{#each data}}
            <tr class="text-smd" scope="row">
                <td scope="col" class="text-left">{{ITEM_ID}}</td>
                <td scope="col" class="text-left">{{ITEM_NAME}}</td>
                <td scope="col" class="text-center">{{ITEM_UOM}}</td>
                <td scope="col" class="text-right">{{SL_BAN}}</td>
                <td scope="col" class="text-right">{{format DONGIA}}</td>
                <td scope="col" class="text-right">{{format THUE_BAN}}</td>
                <td scope="col" class="text-right">{{format CHIET_KHAU}}</td>
                <td scope="col" class="text-right">{{format VALUE_BAN}}</td>
                <td scope="col" class="text-right">{{SL_TRA}}</td>
                <td scope="col" class="text-right">{{format THUE_TRA}}</td>
                <td scope="col" class="text-right">{{format VALUE_TRA}}</td>
                <td scope="col" class="text-right">{{format THANHTIEN}}</td>
            </tr>
            {{/each}}
            {{/each}}
            {{/each}}
            <tr scope="row" class="text-smd">
                <td scope="col" colspan="3" class="text-center font-weight-bold">Tổng cộng</td>
                <td scope="col" class="text-right font-weight-bold">{{this.parseResult.metadata.totalSL_BAN}}</td>
                <td scope="col" class="text-right font-weight-bold"></td>
                <td scope="col" class="text-right font-weight-bold"></td>
                <td scope="col" class="text-right font-weight-bold">{{format this.parseResult.metadata.totalCHIET_KHAU}}</td>
                <td scope="col" class="text-right font-weight-bold">{{format this.parseResult.metadata.totalVALUE_BAN}}
                </td>
                <td scope="col" class="text-right font-weight-bold">{{this.parseResult.metadata.totalSL_TRA}}</td>
                <td scope="col" class="text-right font-weight-bold">{{format this.parseResult.metadata.totalTHUE_TRA}}
                </td>
                <td scope="col" class="text-right font-weight-bold">{{format this.parseResult.metadata.totalVALUE_TRA}}
                </td>
                <td scope="col" class="text-right font-weight-bold">{{format this.parseResult.metadata.totalTHANHTIEN}}
                </td>
            </tr>
            <tr scope="row" class="text-smd">
                <td scope="col" colspan="3" class="text-center font-weight-bold">Khuyến mãi</td>
                <td scope="col" colspan="9" class="text-right font-weight-bold">{{format this.parseResult.metadata.totalPROMOTION_COST}}
                </td>
            </tr>
            <tr scope="row" class="text-smd">
                <td scope="col" colspan="3" class="text-center font-weight-bold">Còn lại</td>
                <td scope="col" colspan="9" class="text-right font-weight-bold">{{format this.parseResult.metadata.finalValue}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{else}}
<div class="mt-3 d-flex justify-content-center w-100">
    <h5>Không có dữ liệu</h5>
</div>
{{/if}}